@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

:root {
  --mainColor: #0c6006;
  --secondaryColor: #f2f2f2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
